.link {

    padding: .5rem;
    margin: .5rem;
    background-color: red;
}

.back {
    padding: .5rem;
    margin: .5rem;
    background-color: red;
}

.linkGorup {
    display: flex;
    justify-content: space-between;
    margin: .5rem;
    padding: .5rem;

}

.container {
    margin: 1rem;
    display: flex;
    justify-content: space-between;
}

